<app-form (accToAdd)="addAccomodationOne($event)" [accomodation]=""></app-form>
  <div class=" mb-5">
    <h3>Search</h3>
      <input [(ngModel)]="searchByPrice" placeholder="Search by price">
    </div>

  <div class="ui grid posts">
      <app-accomodation *ngFor="let accomodation of accomodations | filter : searchByPrice; index as i"
      (deleteAcc)="deleteRow($event)"
      (changeAcc)="changeRow($event)" [accomodation]="accomodation">
      </app-accomodation>
  </div>
 
  <button  (click)="shuffleAccomodations(accomodations)" class="ui positive right floated button">
    Randomize
  </button>