<form class="ui large form segment">
  <h3 class="ui header">Add a Accommodation</h3>
  <div class="field">
      <label for="title">Title:</label>
      <input name="title" #newtitle>
  </div>
  <div class="field">
      <label for="description">Description:</label>
      <textarea rows="3" name="description" #newdescription></textarea>
  </div>
  <div class="field">
      <label for="price">Price:</label>
      <input name="price" #newprice>
  </div>
  <button (click)="addAccomodation(newtitle,newprice, newdescription)" class="ui positive right floated button">
    Submit
    </button>
  </form>
  <div class=" mb-5">
    <h3>Search</h3>
      <input [(ngModel)]="searchByPrice" placeholder="Search by price">
    </div>

  <div class="ui grid posts">
      <app-accomodation *ngFor="let accomodation of accomodations | filter : searchByPrice; index as i" [accomodation]="accomodation">
      </app-accomodation>
  </div>
 
  <button  (click)="shuffleAccomodations(accomodations)" class="ui positive right floated button">
    Randomize
  </button>